@import 'tailwindcss';

:root {
    --fox-cyan-1: #459199;
    --fox-cyan-2: #285559;

    color-scheme: light dark;
    color: var(--color-neutral-400);
}

.MaxContainer {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}
